services:
  - type: web
    runtime: python
    name: my-ket-horse
    repo: https://github.com/zophiezlan/spoo-horse
    plan: free
    buildCommand: pip install -r requirements.txt
    startCommand: gunicorn main:app
    envVars:
      - key: MONGODB_URI
        sync: false
      - key: CONTACT_WEBHOOK
        sync: false
      - key: URL_REPORT_WEBHOOK
        sync: false
      - key: REDIS_URI
        sync: false